<% records ||= [] %>
<% attrs ||= [] %>
<% belongs_to_keys = model.reflect_on_all_associations(:belongs_to).reject(&:polymorphic?).index_by { |a| a.foreign_key.to_sym } %>
<% polymorphic_keys = model.reflect_on_all_associations(:belongs_to).select(&:polymorphic?).index_by { |a| a.foreign_key.to_sym } %>
<% polymorphic_type_cols = polymorphic_keys.values.map { |a| :"#{a.name}_type" }.to_set %>
<% visible_attrs = attrs.reject { |a| polymorphic_type_cols.include?(a) } %>

<div class="card card-border bg-base-100">
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <% visible_attrs.each do |attr| %>
            <% assoc = belongs_to_keys[attr] %>
            <% poly_assoc = polymorphic_keys[attr] %>
            <th><%= assoc ? assoc.klass.model_name.human : (poly_assoc ? poly_assoc.name.to_s.humanize : model.human_attribute_name(attr)) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% records.each do |record| %>
          <% record_path = polymorphic_path(record) rescue nil %>
          <tr class="<%= 'hover:bg-base-200 cursor-pointer' if record_path %>" <%= "onclick=Turbo.visit('#{record_path}')".html_safe if record_path %>>
            <% visible_attrs.each_with_index do |attr, i| %>
              <% assoc = belongs_to_keys[attr] %>
              <% poly_assoc = polymorphic_keys[attr] %>
              <% if i == 0 %>
                <th class="font-medium"><%= record.public_send(attr) %></th>
              <% elsif assoc %>
                <% related = record.public_send(assoc.name) %>
                <% display_method = %i[name title label].detect { |m| assoc.klass.method_defined?(m) || assoc.klass.column_names.include?(m.to_s) } || :id %>
                <td><%= related&.public_send(display_method) %></td>
              <% elsif poly_assoc %>
                <% related = record.public_send(poly_assoc.name) %>
                <% if related %>
                  <% display_method = %i[name title label].detect { |m| related.class.method_defined?(m) || related.class.column_names.include?(m.to_s) } || :id %>
                  <td><%= link_to related.public_send(display_method), polymorphic_path(related), class: "link", onclick: "event.stopPropagation()" %></td>
                <% else %>
                  <td class="text-base-content/50 italic">None</td>
                <% end %>
              <% else %>
                <td><%= truncate(record.public_send(attr).to_s, length: 100) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        <% if records.empty? %>
          <tr>
            <td colspan="<%= attrs.size %>" class="text-center text-base-content/50 italic py-6">
              No <%= model.model_name.human.pluralize.downcase %> yet.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
