<div class="mx-auto md:w-2/3 w-full">
  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% belongs_to_keys = controller.model.reflect_on_all_associations(:belongs_to).reject(&:polymorphic?).index_by { |a| a.foreign_key.to_sym } %>
  <% polymorphic_keys = controller.model.reflect_on_all_associations(:belongs_to).select(&:polymorphic?).index_by { |a| a.foreign_key.to_sym } %>
  <% polymorphic_type_cols = polymorphic_keys.values.map { |a| :"#{a.name}_type" }.to_set %>
  <% permitted_attributes.reject { |a| polymorphic_type_cols.include?(a) }.each do |attr| %>
    <% assoc = belongs_to_keys[attr] %>
    <% poly_assoc = polymorphic_keys[attr] %>
    <% column = controller.model.columns_hash[attr.to_s] %>
    <div class="my-5">
      <% if assoc %>
        <% related = resource.public_send(assoc.name) %>
        <h2 class="text-sm font-semibold text-gray-500 uppercase tracking-wide"><%= assoc.klass.model_name.human %></h2>
        <% if related %>
          <% display_method = %i[name title label].detect { |m| assoc.klass.method_defined?(m) || assoc.klass.column_names.include?(m.to_s) } || :id %>
          <p class="mt-1 text-lg"><%= link_to related.public_send(display_method), related, class: "text-blue-600 hover:text-blue-500 underline hover:no-underline" %></p>
        <% else %>
          <p class="mt-1 text-lg text-gray-400 italic">None</p>
        <% end %>
      <% elsif poly_assoc %>
        <% related = resource.public_send(poly_assoc.name) %>
        <h2 class="text-sm font-semibold text-gray-500 uppercase tracking-wide"><%= poly_assoc.name.to_s.humanize %></h2>
        <% if related %>
          <% display_method = %i[name title label].detect { |m| related.class.method_defined?(m) || related.class.column_names.include?(m.to_s) } || :id %>
          <p class="mt-1 text-lg"><%= link_to related.public_send(display_method), related, class: "text-blue-600 hover:text-blue-500 underline hover:no-underline" %></p>
        <% else %>
          <p class="mt-1 text-lg text-gray-400 italic">None</p>
        <% end %>
      <% else %>
        <h2 class="text-sm font-semibold text-gray-500 uppercase tracking-wide"><%= controller.model.human_attribute_name(attr) %></h2>
        <% value = resource.public_send(attr) %>
        <% if column&.type == :text %>
          <div class="mt-1 text-lg whitespace-pre-wrap"><%= value %></div>
        <% else %>
          <p class="mt-1 text-lg"><%= value %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="flex items-center gap-4 mt-8">
    <% if authenticated? %>
      <%= link_to "Edit", url_for(action: :edit, id: resource), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
      <%= button_to "Delete", url_for(action: :destroy, id: resource), method: :delete, class: "rounded-md px-3.5 py-2.5 bg-red-600 hover:bg-red-500 text-white font-medium", data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
    <%= link_to "Back", url_for(action: :index), class: "text-gray-700 underline hover:no-underline" %>
  </div>

  <% has_many_assocs = controller.model.reflect_on_all_associations(:has_many) %>
  <% if has_many_assocs.any? %>
    <hr class="my-8 border-gray-300">
    <div class="border-b border-gray-200">
      <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500" role="tablist">
        <% has_many_assocs.each_with_index do |assoc, i| %>
          <li role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg <%= i == 0 ? 'text-blue-600 border-blue-600' : 'border-transparent hover:text-gray-600 hover:border-gray-300' %>"
                    onclick="document.querySelectorAll('[data-tab-panel]').forEach(p => p.classList.add('hidden')); document.querySelectorAll('[role=tab]').forEach(t => { t.classList.remove('text-blue-600','border-blue-600'); t.classList.add('border-transparent'); }); document.getElementById('tab-<%= assoc.name %>').classList.remove('hidden'); this.classList.add('text-blue-600','border-blue-600'); this.classList.remove('border-transparent');"
                    role="tab">
              <%= assoc.klass.model_name.human.pluralize %>
              <span class="ml-1 text-xs text-gray-400">(<%= resource.public_send(assoc.name).size %>)</span>
            </button>
          </li>
        <% end %>
      </ul>
    </div>
    <% has_many_assocs.each_with_index do |assoc, i| %>
      <div id="tab-<%= assoc.name %>" data-tab-panel class="mt-4 <%= 'hidden' unless i == 0 %>">
        <% child_controller = "#{assoc.name.to_s.camelize}Controller".safe_constantize %>
        <% child_attrs = (child_controller&.permit || assoc.klass.column_names.map(&:to_sym) - [:id, :created_at, :updated_at]) %>
        <% back_refs = assoc.klass.reflect_on_all_associations(:belongs_to).select { |bt|
          if bt.polymorphic?
            assoc.options[:as] && bt.name == assoc.options[:as]
          else
            bt.klass == controller.model
          end
        } %>
        <% back_ref_cols = back_refs.flat_map { |bt| bt.polymorphic? ? [bt.foreign_key.to_sym, :"#{bt.name}_type"] : [bt.foreign_key.to_sym] }.to_set %>
        <% child_attrs = child_attrs.reject { |a| back_ref_cols.include?(a) } %>
        <% collection_partial = "#{assoc.klass.model_name.collection}/#{assoc.klass.model_name.singular}" %>
        <% if lookup_context.exists?(collection_partial, [], true) %>
          <% new_path = polymorphic_url([:new, resource, assoc.klass.model_name.singular.to_sym]) rescue nil %>
          <% if authenticated? && new_path %>
            <div class="flex justify-end mb-3">
              <%= link_to new_path, class: "flex items-center justify-center text-white bg-blue-600 hover:bg-blue-500 font-medium rounded-lg text-sm px-4 py-2" do %>
                <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                </svg>
                New <%= assoc.klass.model_name.human.downcase %>
              <% end %>
            </div>
          <% end %>
          <%= render partial: collection_partial, collection: resource.public_send(assoc.name) %>
        <% else %>
          <%= render "table", model: assoc.klass, records: resource.public_send(assoc.name), attrs: child_attrs, parent: resource %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
