<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <div role="alert" class="alert alert-error mb-5" id="alert">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span><%= alert %></span>
    </div>
  <% end %>

  <h1 class="font-bold text-4xl">Update your password</h1>

  <%= form_with url: password_path(params[:token]), method: :put, class: "contents" do |form| %>
    <fieldset class="fieldset my-5">
      <legend class="fieldset-legend">New password</legend>
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "input w-full" %>
    </fieldset>

    <fieldset class="fieldset my-5">
      <legend class="fieldset-legend">Confirm password</legend>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72, class: "input w-full" %>
    </fieldset>

    <div class="inline">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
